<div class="loginform">

    <div class="formCadastro">

        <h3>Fazer Login</h3>
        <h4>Prosseguir no YouTube</h4>

       <form action="">
           <input type="text" name="" id="" placeholder="E-mail ou Telefone">
       </form>

        <div class="heford">
          <p>Esqueceu seu e-mail?</p>



          <h3>Não está no seu computador? Use o modo visitante para<br> 
            fazer login com privacidade. <span class="testSpan"> Saiba mais </span>  </h3>
        </div>

        <div class="create">

          <a href="" class="clease">Criar Conta</a> <br>
          <button class="button">Proximo</button>
          
        </div>
    </div>
</div>
