<div class="paiContaines">
  <div class="navbar">
    <div class="youTop">
      <div class="logoPrinc">
        <img class="logoPrime" src="../../assets/bx-menu.svg" alt="hamburgue" />
        <img
          class="logoPrim"
          src="../../assets/youtube-logo-5-2.png"
          alt="logo"
        />
        <h1 class="h1Test" routerLink="inicio">YouTube</h1>
        <!--  <div class="spanP">
                  <span class="brTeste">BR</span>
                </div>  -->

        <div class="pesquisar">
          <input id="pesquisaTest" type="text" placeholder="Pesquisar" />
          <img
            class="pesquisaTestKeybork"
            src="../../assets/icons8-keyboard.png"
            alt="keyboard"
          />
          <img
            class="search"
            src="../../assets/search-regular-24.png"
            alt="search"
          />
          <img
            class="microphone"
            src="../../assets/bx-microphone.svg"
            alt="bx-microphone"
          />
          <img class="menu" src="../../assets/bxs-grid.svg" alt="menu" />
          <img
            class="rounded"
            src="../../assets/bx-dots-vertical-rounded.svg"
            alt="rounded"
          />

          <div id="login">
            <img class="circle" src="../../assets/bx-user-circle.svg" alt="" />
            <p routerLink="/loginCadastro" class="loginSpan">Fazer Login</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="yourTes">
      <div class="youLeft">
        <div id="letfYou">
          <div class="youtMen">
            <div class="inico">
              <img src="../../assets/bxs-clinic.svg" alt="" />
              <p routerLink="login">inicio</p>
            </div>

            <div class="explorar">
              <img src="../../assets/bx-glasses.svg" alt="" />
              <p routerLink="explorar">Explorar</p>
            </div>

            <div class="increvese">
              <img src="../../assets/bx-duplicate.svg" alt="" />
              <p routerLink="inscrito">Inscriçoes</p>
            </div>
          </div>

          <div class="youPro">
            <div class="queue">
              <img src="../../assets/bx-add-to-queue.svg" alt="" />
              <p routerLink="biblioteca">Biblioteca</p>
            </div>

            <div class="historico">
              <img src="../../assets/bx-loader-alt.svg" alt="" />
              <p routerLink="historico">Historico</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="texBorde">
      <div class="textDiv">
        <p>Faça login para curtir vídeos, comentar e se inscrever.</p>
        <div class="loginF">
          <div id="login">
            <img class="circle" src="../../assets/bx-user-circle.svg" alt="" />
            <p class="loginSpan" routerLink="/loginCadastro">Fazer Login</p>
          </div>
        </div>
      </div>
    </div>

    <div class="youtuberParteDou">
      <div class="parteDou">
        <p>o Melhor do Youtube</p>
      </div>

      <div id="icons">
        <div class="music">
          <img src="../../assets/bxs-music.svg" alt="" />
          <p>Musica</p>
        </div>

        <div class="trofeu">
          <img src="../../assets/bxs-trophy.svg" alt="" />
          <p>Esportes</p>
        </div>

        <div class="jogos">
          <img src="../../assets/bxs-book-heart-.svg" alt="" />
          <p>Jogos</p>
        </div>

        <div class="film">
          <img src="../../assets/bxs-film.svg" alt="" />
          <p>Filmes</p>
        </div>

        <div class="msg">
          <img src="../../assets/bxs-message-square.svg" alt="" />
          <p>Noticias</p>
        </div>

        <div class="aovivo">
          <img src="../../assets/bx-station.svg" alt="" />
          <p>Aovivo</p>
        </div>

        <div class="buld">
          <img src="../../assets/bx-bulb.svg" alt="" />
          <p>Aprender</p>
        </div>

        <div class="youtPlay">
          <img src="../../assets/bxl-youtube.svg" alt="" />
          <p>Videos do Momento</p>
        </div>

        <div class="mask">
          <img src="../../assets/bxs-mask.svg" alt="" />
          <p>Video 360</p>
        </div>

        <div class="maisCanais">
          <img src="../../assets/bxs-bookmark-alt-plus-mais.svg" alt="" />
          <p>Procurar Mais canais</p>
        </div>
      </div>
    </div>

    <div class="maisYoutube">
      <p class="center">Mais do Youtube</p>

      <div id="maisDoYoutube">
        <div class="Premiun">
          <img src="../../assets/bxl-youtube.svg" alt="" />
          <p>YoutubePremiun</p>
        </div>

        <div class="aovivo">
          <img src="../../assets/bx-station.svg" alt="" />
          <p>Ao Vivo</p>
        </div>

        <div class="cong">
          <img src="../../assets/bx-cog.svg" alt="" />
          <p>Configuração</p>
        </div>

        <div class="band">
          <img src="../../assets/bxs-flag-alt-bandeira.svg" alt="" />
          <p>Historico de Denuncia</p>
        </div>

        <div class="error">
          <img src="../../assets/bx-message-error-fedeb.svg" alt="" />
          <p>Enviar feedback</p>
        </div>
      </div>

      <div class="helpTerm">
        <p>
          Sobre Imprensa <br />
          Direitos autorais <br />
          Entre em contato <br />
          Criadores de conteúdo <br />
          Publicidade Desenvolvedores<br /><br />

          Termos Privacidade <br />
          Política e segurançaComo<br />
          Como funciona o YouTube <br />
          Testar os novos recursos
        </p>
      </div>
    </div>
  </div>

  <div class="tesxt">
    <p *ngFor="let item of aplicar">{{ item.nome }}</p>
  </div>

  <div class="test">
    <app-filmes></app-filmes>
  </div>
</div>
